    <div class="video-container video" *ngIf="videoSource!=null">
    <video width="320" height="240" [src]="videoSource" type="video/mp4" autoplay loop muted>
    </video>
    </div>
<div *ngIf="flag" class="spinner-container">
  <mat-progress-spinner
    color="warn"
    mode="indeterminate"
  ></mat-progress-spinner>
</div>
<div style="display: flex; justify-content: flex-end">
  <div *ngIf="!flag" class="CurrrentLoc">
    <div class="city">{{ CurrentCity }}</div>
    <div class="day-month">{{ DayMonth }}</div>
  </div>
  <div class="input-weather">
    <div class="input-group mb-3">
      <input
        #city
        (keydown)="onKeydown($event,city.value)"
        type="text"
        class="form-control"
        placeholder="Search city for weather"
        aria-label="Username"
        aria-describedby="basic-addon1"
      />
      <span
        class="input-group-text"
        id="basic-addon1"
        (click)="
          serachCityWeather(city.value); searchfivedaysforecast(city.value)
        "
        ><img src="assets/search.svg" alt=""
      /></span>
      
    </div>
    <div *ngIf="errorMessage" class="error-card"
    [ngClass]="{ 'show-error-card': errorMessage !== '' }" >{{ errorMessage }}</div>
  </div>
</div>
<div *ngIf="!flag" class="second-state">
  <div class="icon-weather-panel">
    <span class="weather-icon-1">
      <img class="weather-icon" [src]="CurrentIcon" alt="" />
    </span>
    <span class="weather-icon-2">
      <p class="Temp">{{ CurrentTemp }}&#176;</p>
      <p class="weather">{{ CurrentWeather }}</p>
    </span>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div class="last-lane">

    <span class="span-1">
      <p>{{ MaxTemp }}&#176;</p>
      <p style="font-size: 15px; margin-top: -20px">MaxTemp</p>
      <br />
      <p>{{ MinTemp }}&#176;</p>
      <p style="font-size: 15px; margin-top: -20px">MinTemp</p>
    </span>
    <span class="span-2">
      <p>{{ Wind }} mph</p>
      <p style="font-size: 15px; margin-top: -20px">Wind</p>
      <br />
      <p>{{ WillRain }}</p>
      <p style="font-size: 15px; margin-top: -20px">Will Rain</p>
    </span>
    <span class="span-3">
      <p>{{ SunRise }}</p>
      <p style="font-size: 15px; margin-top: -20px">Sunrise</p>
      <br />
      <p>{{ SunSet }}</p>
      <p style="font-size: 15px; margin-top: -20px">Sunset</p>
    </span>
  </div>
</div>
<div class="fivedays-forecast-panel" *ngIf="!flag">
  <div class="forecast-card">
    <mat-card>
      <div class="justify-matcard">
        <div class="cards-div">
          <p class="card-date">{{ fivedaysdatearr[1] }}</p>
          <img class="card-icon" [src]="fivedaysicon[1]" alt="" />
          <p class="card-maxtemp">MaxTemp : {{fivedaysmaxtemparr[1]}}&#176;</p>
          <p class="card-mintemp">MinTemp : {{fivedaysmintemparr[1]}}&#176;</p>
          <p class="card-condition">{{fivedayscondition[1]}}</p>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="cards-div">
          <p class="card-date">{{ fivedaysdatearr[2] }}</p>
          <img class="card-icon" [src]="fivedaysicon[2]" alt="" />
          <p class="card-maxtemp">MaxTemp : {{fivedaysmaxtemparr[2]}}&#176;</p>
          <p class="card-mintemp">MinTemp : {{fivedaysmintemparr[2]}}&#176;</p>
          <p class="card-condition">{{fivedayscondition[2]}}</p>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="cards-div">
          <p class="card-date">{{ fivedaysdatearr[3] }}</p>
          <img class="card-icon" [src]="fivedaysicon[3]" alt="" />
          <p class="card-maxtemp">MaxTemp : {{fivedaysmaxtemparr[3]}}&#176;</p>
          <p class="card-mintemp">MinTemp : {{fivedaysmintemparr[3]}}&#176;</p>
          <p class="card-condition">{{fivedayscondition[3]}}</p>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="cards-div">
          <p class="card-date">{{ fivedaysdatearr[4] }}</p>
          <img class="card-icon" [src]="fivedaysicon[4]" alt="" />
          <p class="card-maxtemp">MaxTemp : {{fivedaysmaxtemparr[4]}}&#176;</p>
          <p class="card-mintemp">MinTemp : {{fivedaysmintemparr[4]}}&#176;</p>
          <p class="card-condition">{{fivedayscondition[4]}}</p>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="cards-div">
          <p class="card-date">{{ fivedaysdatearr[5] }}</p>
          <img class="card-icon" [src]="fivedaysicon[5]" alt="" />
          <p class="card-maxtemp">MaxTemp : {{fivedaysmaxtemparr[5]}}&#176;</p>
          <p class="card-mintemp">MinTemp : {{fivedaysmintemparr[5]}}&#176;</p>
          <p class="card-condition">{{fivedayscondition[5]}}</p>
        </div>
      </div>
    </mat-card>
  </div>
</div>
